---
layout: default
---

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h1>Study groups</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Course</th>
            <th>Time</th>
            <th>Location</th>
            <th>Size</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for group in site.data.groups %}
            <tr>
                <td>
                    {{ group.course }}
                </td>
                <td>
                    {{ group.time }}
                </td>
                <td>
                    {{ group.location }}
                </td>
                <td>
                    {{ group.size }}
                </td>
                <td>
                    <div class="btn-group">
                      <a class="btn btn-mini btn-primary" href="{{site.baseurl}}/email.html">
                            <i class="glyphicon glyphicon-envelope"></i> send email
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><a href="{{site.baseurl}}/study-group-add.html" class="btn btn-primary">Add study group</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Courses</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Course</th>
            <th>Duration</th>
            <th>Provider</th>
            <th>License</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for course in site.courses %}
            <tr>
                <td>
                    {{ course.title }}
                </td>
                <td>
                    {{ course.duration }}
                </td>
                <td>
                    {{ course.provider }}
                </td>
                <td>
                    {{ course.license }}
                </td>
                <td>
                    <div class="btn-group">
                      <a class="btn btn-mini btn-primary" href="{{site.baseurl}}{{course.url}}">view course</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><a href="{{site.baseurl}}/course-add.html" class="btn btn-primary">Add course</a></p>

    </div>
  </div>
</div> <!-- /container -->
