<p>
      <h3>Apply to join a study group</h3>
      <form action="">
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input type="password" class="form-control" id="nameInput" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="emailInput">Email address</label>
          <input type="email" class="form-control" id="emailInput" placeholder="Email address">
        </div>
        <label>What times can you make?</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" value=""> Mondays 5PM
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value=""> Tuesdays 6PM
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value=""> Thursdays 6PM
          </label>
        </div>
        <button type="submit" class="btn btn-default">Apply</button>
      </form>
</p>
