---
layout: default
---

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>{{page.title}}</h2>
      {% include apply.html %}
      <p><a class="btn btn-primary"><i class="glyphicon glyphicon-calendar"></i> Download calendar</a></p>
    </div>
    <div class="col-md-8">
      <h2>About this Course.</h2>
      <p>This course is hosted by the University of Michican on Coursera</p>
      <p><a href="https://www.coursera.org/course/pythonlearn">Course site</a></p>
      <p>Learn coding in Python by doing the course at XX together with a local study group.</p>
      <p>Course starts on the 15th of April</p>
      <p>The study group will meet Monday evening at 6:30 at the central branch of CPL</p>
    </div>
  </div>

</div> <!-- /container -->

